/* your styles will go here!! */
/* global */
header h1{
    color: #4A2040;
font-family: Jomhuria;
font-size: 79px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/*nav*/
nav a {
    color: #4A2040;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* homepage */
body {
    background: url(crochetbg.jpg);
}