/* your styles will go here!! */
/* global */
header h1{
    color: #4A2040;
    font-family: Jomhuria;
    font-size: 79px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #C2714F;
}
/*nav*/
nav a {
    color: #4A2040;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* homepage */
body {
    background: url(crochetbg.jpg);
}
 main img {
    width: 512px;
    height: 678px;
    border-radius: 678px;
    border: 9px solid #4A2040;
    display: inline-block;
    z-index: 2;
    position: relative;
 }
 
 main h1 {
    color: #4A2040;
    font-family: Jomhuria;
    font-size: 179px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.2;
    width: 699px;
 }
 main h2 {
    color: #4A2040;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.2;
 }
 main div {
    background-color: #F6C5AF;
    display: inline-block;
    width: 1159px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 50px;
    z-index: 1;
    position:relative;
 }